.main-header {
    background: #66ACFF;
    box-sizing: border-box;
    width: auto;
}

.main-header a {
    text-decoration: none;
    color: inherit;
}

.main-header a:hover,
.main-header label:hover {
    cursor: pointer;
}

.row {
    box-sizing: border-box;
    display: block;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-right: 0;
}

.logo-holder {
    padding-left: 35px;
    width: 20%;
    float: left;
}

.logo h1 {
    font-size: 60px;
    color: #000;
}

.search-holder {
    padding: 15px 15px 0 15px;
    width: 56%;
    float: left;
}

.cart-icon {
    padding: 40px 15px 0 25px;
    width: 8%;
    float: left;
}

.account-icon {
    padding: 40px 15px 0 5px;
    width: 8%;
    float: left;
}

.settings-icon {
    padding: 40px 15px 0 10px;
    width: 8%;
    float: left;
}


.icon-label {
    font-size: 20px;
}


input {
    margin: 0;
    font: inherit;
    color: inherit;
}

.search-field {
    border: medium none;
    border-radius: 5px 0 0 5px;
    padding: 18px 13px;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
}

.search-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0 0;
    background: #fff;
    border-radius: 999px;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    flex: 1;
    text-align: center;
    position: relative;
}

nav ul li:hover ul.dropdown-menu {
    display: block;
}


nav ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    font-family: 'Bebas Neue';
    font-size: 23px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 20px;
}

nav ul li:hover a {
    background-color: #ddd;
}

@media screen and (min-width: 768px) {
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-holder {
        max-width: 20%;
        width: auto;
        padding-right: 15px;
    }

    .search-holder {
        min-width: 50%;
        width: auto;
    }

    .cart-icon,
    .account-icon,
    .settings-icon {
        width: auto;
        padding: 0 10px;
    }

    .header-nav {
        display: block;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
    }

    nav ul li {
        margin-left: 30px;
        position: static;
    }

    nav ul li:hover ul.dropdown-menu {
        display: none;
    }

    nav ul li:hover>ul.dropdown-menu {
        display: block;
        position: absolute;
        top: 50px;
        left: 0;
        width: 200px;
        background-color: #fff;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    nav ul li ul.dropdown-menu li {
        margin: 10px 0;
    }

    nav ul li ul.dropdown-menu li a {
        font-size: 16px;
        padding: 8px;
        border-radius: 0;
        background-color: transparent;
        color: #333;
        margin: 0;
    }

    nav ul li ul.dropdown-menu li:hover a {
        background-color: #f2f2f2;
    }
}

/* Styles for screens smaller than 768px */
@media screen and (max-width: 767px) {
    .logo-holder {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .search-holder {
        width: 100%;
        margin-bottom: 10px;
    }

    .cart-icon,
    .account-icon,
    .settings-icon {
        display: none;
    }

    .header-nav {
        display: none;
    }

    .main-header {
        position: relative;
    }

    .main-header:before {
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        color: #fff;
    }

    .search-field {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        background-color: transparent;
        color: #000;
    }

    .search-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }

    .search-area form {
        flex: 1;
    }

    .search-area i {
        margin-right: 20px;
    }
}

.copyright-bar {
    display: flex;
    bottom: 0;
    background: #66ACFF;
    padding: 1% 3%;
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    width: 100%;
    justify-content: space-between;
}

.copyright-bar a {
    text-decoration: none;
    color: inherit;
}

.social {
    display: flex;
    align-items: center;
    padding: 0px;
    overflow: hidden;
    width: auto;
}

.social ul {
    margin: 0;
    list-style: none;
}

.footer-icon {
    font-size: 20px;
    margin: 5px 10px;
}

.payment-methods {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: auto;
}

.payment-methods ul {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.payment-methods li {
    display: inline;
    margin-right: 20px;

}


.top-anchor {
    text-align: center;
    padding: 0px;
    overflow: hidden;
    width: auto;
}

.top-anchor h2 {
    font-size: 40px;
}




.order-values {
    font-family: 'Open Sans';
    font-size: 18px;
}


.estimated-delivery {
    margin: 0 auto;
    width: 95%;
    height: 24px;
    background-color: #A9A9A9;
    border-radius: 20px;
}

.delivery-descr {
    margin: 20px;
    line-height: 24px;
    font-family: 'Open Sans';
    font-size: 18px;
}

.PaiContainer {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.CartContainer {
    margin: 20px;
    float: left;
    width: 60%;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.SummaryContainer {
    margin-left: 75px;
    margin-top: 20px;
    float: left;
    width: 30%;
    height: 400px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.ShipContainer {
    margin: 20px;
    width: 60%;
    height: 160px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
}

.Header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Cep-Field {
    margin: 10px;
}

.Heading {
    font-size: 28px;
    font-family: 'Bebas Neue';
    font-weight: 700;
    color: #2F3841;
}

.Action {
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: red;
    cursor: pointer;
    border-bottom: 1px solid #E44C4C;
}

.Cart-Items {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-box {
    width: 15%;
    text-align: center;
}

.about {
    height: 100%;
    width: 32%;
}

.title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    line-height: 10px;
    font-size: 10px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    line-height: 25px;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: black;
}

.bold-text {
    font-weight: bold;
}

.counter {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #202020;
}

.prices {
    height: 100%;
    text-align: right;
}

.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 800;
    color: #202020;
}

.remove {
    padding-top: 5px;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #E44C4C;
    cursor: pointer;
}

.pad {
    margin-top: 5px;
}

/*
hr{
    width: 66%;
    float: right;
    margin-right: 5%;
}*/
.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 900;
    color: #202020;
}

.button {
    margin-top: 40px;
    width: 100%;
    height: 40px;
    border: none;
    background: red;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Bebas Neue';
    font-weight: 600;
    color: white;
}





*,
*::before,
*::after {
    box-sizing: border-box;
}

.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    display: inline-block;
    --field-padding: 12px;
}

.custom-field input {
    margin: 10px;
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: var(--field-padding);
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.custom-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: #aaa;
    transition:
        top 0.3s ease,
        color 0.3s ease,
        font-size 0.3s ease;
}

.custom-field input.dirty+.placeholder,
.custom-field input:focus+.placeholder,
.custom-field input:not(:placeholder-shown)+.placeholder {
    top: -10px;
    font-size: 10px;
    color: #222;
}


.custom-field.one input {
    background: none;
    font-family: 'Bebas Neue';
    font-size: 24px;
    border: 2px solid #ddd;
    transition: border-color 0.3s ease;
}

.custom-field.one input+.placeholder {
    left: 8px;
    padding: 0 5px;
}

.custom-field.one input.dirty,
.custom-field.one input:not(:placeholder-shown),
.custom-field.one input:focus {
    border-color: #222;
    transition-delay: 0.1s
}

.custom-field.one input.dirty+.placeholder,
.custom-field.one input:not(:placeholder-shown)+.placeholder,
.custom-field.one input:focus+.placeholder {
    top: 0;
    font-size: 10px;
    color: #222;
    background: #fff;
    width: auto
}

.home-content {
    margin: 0 auto;
    height: 10%;
    width: 100%;
    background-color: #ffffff;
}

.home-banner {
    padding: 0 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home-banner img {
    flex-shrink: 0;
    min-width: 100%;
    height: auto;
}

.home-triple-img {
    padding: 20px 0 20px 0;
    display: flex;
}

.home-triple-img img {
    max-width: 100%;
    height: auto;
}

.home-triple-img a {
    position: relative;
    display: block;
}

.home-triple-img a:hover .img-overlay {
    display: block;
}

.img-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    display: none;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
    font-family: "Bebas Neue";
    font-size: 20px;
}

.home-double-img {
    padding: 20px 0 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-double-img img {
    max-width: 49.9%;
    height: auto;
}

.home-gallery {
    padding-top: 10px;
}

.home-gallery h1 {
    font-family: "Bebas Neue";
    text-align: center;
}

.central_div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.central_box {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px #1687d933;
    width: 30%;
    margin-bottom: 74px;
}

.writings_central_box {
    font-family: 'Open Sans';
    display: inline;
    color: black;
    margin-left: 20px;
}

.input-label {
    font-family: Bebas Neue;
    font-size: 24px;
    text-align: center;
}

.account-links {
    overflow: hidden;
    width: auto;
}

.account-links ul {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: space-between;
}

.account-links li {
    flex: 1;
    text-align: center;
}

.account-links a {
    font-family: "Bebas Neue";
    text-decoration: none;
    font-size: 18px;
}